<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<% if (names.length) { %>
    <ul>
        <% names.forEach(function(name){ %>
            <li foo='<%= name + "'" %>'><%= name %></li>
        <% }) %>
    </ul>
<% } %>
</body>
</html>
